<div class="form-group row">
  <div class="col-10 input-group">
	<div class="input-group">
	  <%= f.text_field :answer, class: "form-control", placeholder: "#{question.locked? ? nil : "Enter answer"}", data: { toggle: "tooltip", placement: "left" }, title: "#{question.tooltip} #{question.locked ? " Locked, cannot be changed." : nil }", readonly: question.locked?, id: question.id, style: "border:" %>
	  <% f.hidden_field :text_question_id, value: question.id %>
	  <% unless question.locked? %>
		<div class="input-group-append">
		  <%= f.submit "Save", id:"btn#{question.id}", class: "btn btn-primary" %>
		</div>
	  <% end %>
	</div>
  </div>
  <div class="col-2 row">
	<span class="spinner-border text-primary" role="status" aria-hidden="true" id="spinner<%= question.id %>" style="display: none;"></span>
	<div class="col-form-label" id="saved<%= question.id %>" style="display: none; color:darkgreen">Saved</div>
  </div>
</div>

<script type="text/javascript">
    $( "form#edit_text_question_<%= question.id %>" ).submit(function() {
        $('span#spinner<%= question.id %>').finish().fadeIn(100);
    });
</script>