<%= render "shared/errors", obj: @user %>

<div class="col-8 offset-2">
  <% if @user.new_record? %>
	<div class="form-group">
	  <%= f.label :username, class: "col-form-label" %>
	  <%= f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
	</div>
  <% end %>
  <div class="form-group">
	<%= f.label :email, class: "col-form-label" %>
	<%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
  </div>
  <div class="form-group">
	<%= f.label :password, class: "col-form-label" %>
	<%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
  </div>
  <div class="form-group row">
	<div class="col-auto mr-auto">
	  <%= f.submit(@user.new_record? ? "Register" : "Update user", class: "btn btn-primary") %>
	</div>
	<div class="col-auto">
	  <%= link_to "Cancel", articles_path, class:"btn btn-outline-danger" %>
	</div>
  </div>
</div>
