<%= render "shared/errors", obj: obj %>
<div class="form-group row">
  <% if !company_logged_in? %>
  	<%= f.label :company, class: "col-2 col-form-label col-form-label" %>
	<div class="col-10">
	  <%= f.text_field :company, class: "form-control", placeholder: "Event type", autofocus: true %>
	</div>
  <% end %>
  <div class="col-2 col-form-label col-form-label">
	<%= f.label :event_type, class: "col-2 col-form-label col-form-label" %>
  </div>
  <div class="col-10">
	<%= f.text_field :event_type, class: "form-control", placeholder: "Event type", autofocus: true %>
  </div>
</div>
<div class="form-group row">
  <div class="col-2 col-form-label col-form-label">
	<%= f.label :food, class: "col-2 col-form-label col-form-label" %>
  </div>
  <div class="col-10">
	<%= f.text_field :food, class: "form-control", placeholder: "Food", autofocus: true %>
  </div>
</div>
<div class="form-group row">
  <div class="col-2 col-form-label col-form-label">
	<%= f.label :stand, class: "col-2 col-form-label col-form-label" %>
  </div>
  <div class="col-10">
	<%= f.check_box :stand %>
  </div>
</div>
<div class="form-group row">
  <div class="col-2 col-form-label col-form-label">
	<%= f.label :description, class: "col-2 col-form-label col-form-label" %>
  </div>
  <div class="col-10">
	<%= f.text_area :description, rows:10, class: "form-control", placeholder: "Description" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-auto mr-auto offset-2">
	<%= f.submit class: "btn btn-primary" %>
  </div>
  <div class="col-auto">
	<%= link_to "Cancel", articles_path, class:"btn btn-outline-danger" %>
  </div>
</div>